.html{
    font-family: Arial, Helvetica, sans-serif;
}
body {
background-color: rgba(132, 133, 134, 0.822);
text-align: center;
}

header{
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(131, 255, 207, 0.822);
    color: rgb(255, 255, 255);
}

ul{
    list-style-type: none;
    font-size: 1rem;
    background-color: blueviolet;
    margin-top: 0.5rem;
    padding-inline-start: 0px;
}

ul a{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.lasaña{
    background-color: brown;
    border-radius: 2.5rem;
}